*{
  margin:0;
  padding:0;
}

body{
  font-family:'Kingthings','Permanent Marker', cursive;
  font-size:100%;
  margin:3em;
  background-image:url(../images/background.png);
  background-color:black;
  background-repeat:repeat-y;
  background-size:cover;
  color:black;
}
h1{
    font-family:'Kingthings','Permanent Marker', cursive;
    text-align:center;
    color:black;
    margin:auto;
}
h2,p{
  font-family:'Kingthings','Permanent Marker', cursive;
  font-size:100%;
  font-weight:normal;
}