{% extends "base.html" %}

{% block content %}

{% load instagram_client %}
<div class='row'>
  <div class='col-sm'>
    <h2>upcoming events:</h2>
    <ul>
      {% for session in sessions %}
      <li>
          <h5 class="rotate"><span>{{ session.date|date:"l, M. j"|upper }}</span></h5>
          <p>
            {{ session.gathering.name|lower }}<br>
            {{ session.start_time|date:"g:i" }}{{ session.end_time|date:"-g:i" }} @{{ session.location }}
          </p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class='col-sm'>
    <h3>WHO WE ARE:</h3>
    <p>
        We are a collection of individuals working to create space and connection in South City. We are normal, counter-cultural, DIY, non-binary, non-normative, creative and experiential people making space for all those who also feel like they don’t fit. We meet at tables, have conversations, share food, celebrate, learn, worship, garden, and care for one another.
    </p>
    <h3>WHAT WE BELIEVE:</h3>
    <p>
      <ul>
        <li>that we belong to each other</li>
        <li>that we can be brave together</li>
        <li>that we are responsible for our community</li>
        <li>that together we are larger than any one institution, church, political party, or any other identification</li>
      </ul>
    </p>
    <h3>CONTACT US:</h3>
    <p>Call us @314-884-0754</p>
  </div>
</div>
<!-- <div id="django_recent_media_wall">
  {% instagram_recent_media_wall username='sharedstreetsstl' %}
</div> -->

{% endblock %}